@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: #0A192F;
}
i{
  cursor: pointer;
}
i:hover{
  color: aliceblue;
}
 /*loader*/
 .N{
   animation: N 1s infinite;
 }
 @keyframes N{
   0%{
    opacity: 1;

   }
   50%{
    opacity: 0.5;
   }
   100%{
    opacity:0.5;
   }
 }

 .A{
  animation: A 1s infinite;
}
@keyframes A{
  0%{
   opacity: 0.5;

  }
  50%{
   opacity: 1;
  }
  100%{
   opacity:0.5;
  }
}

.K{
  animation: K 1s infinite;
}
@keyframes K{
  0%{
   opacity: 0.5;

  }
  50%{
   opacity: 0.5;
  }
  100%{
   opacity:1;
  }
}
 
